.footer {
  border-top: 2px solid black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerCopyRight {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
